.headdesk{
	font-size: 70px;
	text-align: center;
	font-family: TimesRoman,Arial;
	color: #922B21;
}

body,html{
	height: 100%;
}

#bg{
	background-image: url("../images/background1.png");
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#btn1{
	position: absolute;
	top: 35%;
	margin-left: 30%;
	height:250px;
	width: 200px;

}

#btn2{
	position: absolute;
	top: 35%;
	margin-left: 52.3%;
	height: 140px;
	width: 200px;
}

#btn3{
	position: absolute;
	top: 56.2%;
	margin-left: 52.3%;
	height:109.3px;
	width: 200px;
}

#mailbtn{
	height: 100%;
	width: 150%;
	background-image: url("../images/mail2.png");
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}

#smsbtn{
	height: 100%;
	width: 150%;
	background-image: url("../images/sms.png");
	background-size: cover;
	background-repeat: no-repeat;

}

#chatbot{
	height: 100%;
	width: 150%;
	background-image: url("../images/chatbot.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 130%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#btn1:hover .overlay, #btn2:hover .overlay, #btn3:hover .overlay{
  opacity: 1;

}


#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -100px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0;
  margin-top:215px;/* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}


#account {
  top: 20px;
  background-color: #D4AC0D  ;
}

#settings {
  top: 80px;
  background-color:#B7950B;
}

#about {
  top: 140px;
  background-color: #5D6D7E;
}

#contact {
  top: 200px;
  background-color: #34495E;
}